/node_modules
/public
/vendor
/storage
/.docker/**/*
/.git
/caddy
/resources/views/emails
/resources/views/vendor
/resources/js/Enum.js
/bootstrap/cache

/.vscode
.editorconfig
.env
.env.*
.gitattributes
.gitignore
.npmrc
.npmec
.npmrc-example
.prettierignore
.phpunit.result.cache

*.xml
*.phar
*.csv
*.pdf
*.log
