.card {
  margin-bottom: $card-margin-bottom;
  border-color: $card-border-color;
  box-shadow: $card-box-shadow;
  .card-header {
    .card-header-title {
      font-size: $h3-font-size;
      font-weight: $font-weight-bold;
      margin-bottom: 0;
    }
  }
}
